/* Reset */

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fonte);
    list-style: none
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* Variaveis */

:root {
    /* Cores */
    --laranja_suave: hsl(35, 77%, 62%);
    --vermelho_suave: hsl(5, 85%, 63%);
    --branco: hsl(36, 100%, 99%);
    --azul_acinzentado: hsl(231, 3%, 60%);
    --azul_acinzentado_escuro: hsl(236, 13%, 42%);
    --azul_escuro: hsl(240, 100%, 5%);

    /* Fontes */
    --fonte: 'Inter', sans-serif;
}

body {
    padding: 20px;
}

/* Header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

#icon-menu {
    height: 50%;
    cursor: pointer;
}

#menu {
    display: none;
}

#menu-mobile {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60vw;
    background-color: white;
}

#fechar-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    margin: 20px;
    cursor: pointer;
}

#lista-menu-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 120px;
}

.item-menu-mobile {
    padding: 10px 10px;
}

.item-menu-mobile:hover {
    color: var(--laranja_suave);
    cursor: pointer;
}

.hide {
    display: none;
}

/* Main */

#main {
    display: flex;
    flex-direction: column;
}

#imagem-principal-mobile {
    width: 90vw;
    padding: 10px 0px;
    align-self: center;
}

#imagem-principal-desktop {
    display: none;
}

#container-titulo-principal {
    padding: 10px 0px;
}

#titulo-principal {
    font-weight: 800;
    font-size: 40px;
    line-height: 1.1;
}

#container-descricao-principal {
    padding: 10px 0px;
}

#descicao-principal {
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--azul_acinzentado);
}

#botao {
    display: inline-block;
    background-color: var(--vermelho_suave);
    padding: 15px 20px;
    color: white;
    font-size: 0.8em;
    letter-spacing: 2.5px;
    font-weight: 700;
    cursor: pointer;
    width: 101px;
}

#botao:hover {
    background-color: var(--azul_escuro);
}

#conteudo-lateral {
    background-color: var(--azul_escuro);
    padding: 20px 20px 0px 20px;
    margin: 40px 0px;
}

#titulo-secundario {
    color: var(--laranja_suave);
    font-size: 2.5em;
    margin-bottom: 10px;
}

.noticia-secundaria {
    line-height: 2.0;
    margin: 30px 0px;
}

.titulo-noticia-secundaria {
    color: var(--branco);
}

.titulo-noticia-secundaria:hover {
    color: var(--laranja_suave);
    cursor: pointer;
}

.paragrafo-noticia-secundaria {
    color: var(--azul_acinzentado);
}

.linha {
    width: 100%;
    border: 1px solid var(--azul_acinzentado);
}

.container-outra-noticia {
    display: flex;
    justify-content: start;
    width: 80vw;
    padding: 20px 0px;
}

.imagem-outra-noticia {
    height: 150px;
}

.outra-noticia-escrita {
    display: flex;
    flex-direction: column;
    row-gap: 2.5px;
    padding: 0px 10px;
}

.numero-noticia{
    color: var(--azul_acinzentado);
    font-size: 2em;
    font-weight: 700;
}

.titulo-outra-noticia{
    font-weight: 800;
}

.titulo-outra-noticia:hover {
    color: var(--vermelho_suave);
    cursor: pointer;
}

.paragrafo-outra-noticia{
    color: var(--azul_acinzentado);
    font-size: 0.9em;
}