/* Reset */

* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* Variaveis */

:root {
    /* Cores */
    --laranja_suave: hsl(35, 77%, 62%);
    --vermelho_suave: hsl(5, 85%, 63%);
    --branco: hsl(36, 100%, 99%);
    --azul_acinzentado: hsl(233, 8%, 79%);
    --azul_acinzentado_escuro: hsl(236, 13%, 42%);
    --azul_escuro: hsl(240, 100%, 5%);

    /* Fontes */
    --fonte: 'Inter', sans-serif;
}
